{% extends 'base.html' %}

{% block content %}
<article class="main-article">
    <section>
        <section class="block-list">
            
            {% for vet in vets %}
            <section class="list-item">
                <div class="list-div">
                    <a href="/vets/{{vet.id}}/edit">
                        <p>id: {{vet.id}}</p>
                        <p>Name: {{vet.name}}</p>
                    </a>
                </div>
                
                
            </section>
            {% endfor %}
            
        </section>
        <br>
        <button class="button-new"><a href="/vets/new">Add new vet</a></button>

    </section>

    <section>
        <h2>this</h2>
    </section>
</article>
{% endblock  %}