{% extends 'base.html' %}

{% block content %}
    <h2>this is the vets page</h2>

    <section>
        <section>
            {% for vet in vets %}
                <p>id: {{vet.id}}</p>
                <p>Name: {{vet.name}}</p>
                <button class="edit-button"><a href="/vets/{{vet.id}}/edit">Edit vet</a></button>
                <hr>
            {% endfor %}
        </section>
        <button class="button-new"><a href="/vets/new">Add new vet</a></button>
    </section>
{% endblock  %}