{% extends 'base.html' %}

{% block content %}
<article class="main-article">
    <section class="full-block">
        <section class="block-list">
            
            {% for vet in vets %}
            <section class="list-item">
                <div class="list-div">
                    <a href="/vets/{{vet.id}}/more">
                        <p> 
                            {{vet.name}}
                        </p>
                    </a>
                </div>
                <div class="more-button-div">
                    <a href="/vets/{{vet.id}}/more">
                        <p> 
                            <button class="info-button">More info</button>
                        </p>
                    </a>
                </div>
            </section>
            {% endfor %}
            
        </section>
        <br>
        <button class="button-new"><a href="/vets/new">Add new vet</a></button>

    </section>

    <section>
        <section class="more-info-section">
            {% if more_info %}
            <article class="more-info-article">
                <h2>More info</h2>
                <section class="more-info-text">
                    <div>
                        Name: {{chosen_vet.name}}
                    </div>
                </section>
                <section>
                    <button class="info-button">
                        <a href="/vets/{{chosen_vet.id}}/edit">Edit {{chosen_vet.name}}</a>
                    </button>

                </section>
            </article>
            {% endif %}
        </section>
    

        <section class="edit-info-section">
            {% if edit_info %}
                <article class="edit-info-article">
                    <h2>Edit {{chosen_vet.name}}</h2>
                    <form action="/vets/{{chosen_vet.id}}/edit" method="POST" class="edit-form">
                        <label for="name">Enter name</label>
                        <input type="text" name="name" id="name" placeholder="Name" value={{chosen_vet.name}}>
                        <br><br>
                
                        <input type="submit" value="Update {{chosen_vet.name}}" class="info-button">
                    </form>
                </article>
            {% endif %}
        </section>
    </section>
</article>
{% endblock  %}