{% extends 'base.html' %}
{% block content %}

<div class="new-appointment-div">
    <form class="new-appointment" action="/appointments/{{appointment.id}}/edit" method="POST">
        <label for="date">Enter Date: </label>
        <input type="date" name="date" id="date" value="{{appointment.date}}" required>

        <label for="time">Enter time: </label>
        <input type="time" name="time" id="time" value={{appointment.time}} required>

        <label for="vet_id">Choose vet: </label>
        <select name="vet_id" id="vet_id" required>
            <option value={{appointment.vet.id}} selected="selected">{{appointment.vet.name}}</option>
            {% for vet in vets %}
                {% if appointment.vet.id != vet.id %}
                    <option value={{vet.id}}>{{vet.name}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <label for="animal_id">Choose animal: </label>
        <select name="animal_id" id="animal_id" required>
            <option value={{appointment.animal.id}} selected>{{appointment.animal.name}}</option>
            {% for animal in animals %}
                {% if appointment.animal.id != animal.id %}
                    <option value={{animal.id}}>{{animal.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
       

        <label for="notes">Additional Notes: </label>
        <input type="text"  name="notes" id="notes" value={{appointment.additional_notes}}>

        <input class="info-button" type="submit" value="Update appointment">
    </form>
</div>
{% endblock %}