{% extends 'base.html' %}
{% block content %}
<section>
    <form action="">
        <label for="date">Choose a date</label>
        <input type="date" name="date" id="date">
    </form>


    <button>
        <a href="/appointments/new">New Appointment</a>
    </button>
</section>
<article id="appointment-info">
    {% for appointment in appointments %}
    <div id="appointment-block">
        <p><b>Date:</b> {{appointment.date}}</p>
        <p><b>Time:</b> {{appointment.time}}</p>
        <p><b>Vet:</b> {{appointment.vet.name}}</p>
        <p><b>Animal:</b> {{appointment.animal.name}}</p>
        <p><b>Notes:</b> {{appointment.additional_notes}}</p>
    </div>
    {% endfor %}
    
</article>
{% endblock content %}