{% extends 'base.html' %}
{% block content %}
<section class="appointment-top-section">

    <button class="button-new">
        <a href="/appointments/new">New Appointment</a>
    </button>

    
    <form id="appointment-filter" action="">
        <label class="appointment-filter-item" for="date">Filter appointments</label>
        <input class="appointment-filter-item" type="date" name="date" id="date">

        <select class="appointment-filter-item" name="vet_id" id="vet_id">
            <option value="" disabled selected>Choose vet</option>
            {% for vet in vets %}
                <option value={{vet.id}}>{{vet.name}}</option>
            {% endfor %}
        </select>

        <select class="appointment-filter-item" name="animal_id" id="animal_id">
            <option value="" disabled selected>Choose animal</option>
            {% for animal in animals %}
                <option value={{animal.id}}>{{animal.name}}</option>
            {% endfor %}
        </select>
        <input class="appointment-filter-button" type="submit" value="Filter">
    </form>


    
</section>
<article id="appointment-info">
    {% for appointment in appointments %}
    <div id="appointment-block">
        <p><b>Date:</b> {{appointment.date}}</p>
        <p><b>Time:</b> {{appointment.time}}</p>
        <p><b>Vet:</b> {{appointment.vet.name}}</p>
        <p><b>Animal:</b> {{appointment.animal.name}}</p>
        <p><b>Notes:</b> {{appointment.additional_notes}}</p>
        <button class="info-button">Update Appointment</button>
    </div>
    {% endfor %}
    
</article>
{% endblock content %}