{% extends 'base.html' %}
{% block content %}
    <h2>Edit {{animal.name}}</h2>

    <form action="/animals/{{animal.id}}/edit", method="POST">
        <label for="name">Enter name</label>
        <input type="text" name="name" id="name" value="{{animal.name}}" placeholder="Name"><br>

        <label for="dob">Enter date of birth</label>
        <input type="date" name="dob" id="dob" value={{animal.date_of_birth}}>
        <!-- <input type="text" name="dob" id="dob" value="{{animal.date_of_birth}}" placeholder="Date of birth"><br> -->

        <label for="animal_type">Enter animal type</label>
        <input type="text" name="animal_type" id="animal_type" value="{{animal.animal_type}}" placeholder="Animal type"><br>

        <label for="notes">Enter treatment notes</label>
        <input type="text" name="notes" id="notes" value="{{animal.notes}}" placeholder="Treament notes"><br>

        <label for="vet_id">Choose vet</label>
        <select name="vet_id" id="vet_id">
            {% for vet in vets %}
                <option value={{vet.id}}>{{vet.name}}</option>
            {% endfor %}   
        </select><br>

        <label for="owner_id">Choose owner</label>
        <select name="owner_id" id="owner_id">
            {% for owner in owners %}
                <option value={{owner.id}}>{{owner.name}}</option>
            {% endfor %}    
        </select><br>
        <input type="submit" value="Update animal">
    </form>

{% endblock content %}  