{% extends 'base.html' %}
{% block content %}

<h3>this is the animal page</h3>
<section>
    {% for animal in animals %}
        <section>
            <p>{{animal.id}}</p>
            <p>{{animal.name}}</p>
            <p>{{animal.date_of_birth}}</p>
            <p>{{animal.animal_type}}</p>
            <p>{{animal.treatment_notes}}</p>
            <hr>
        </section>
    {% endfor %}
</section>
<button class="button_new"><a href="/animals/new">Add new animal</a></button>
    
{% endblock %}