<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Vet manager</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/vets">Vets</a></li>
                <li><a href="/animals">Animals</a></li>
                <li><a href="/owners">Owners</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock  %}
    </main>
    <footer>
        &#169 Andrew Hunter 2021
    </footer>
    
</body>
</html>