<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Vet Shop Boys</title>
</head>
<body>
    <header id="main-header">
        <h1>Vet Shop Boys</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/vets">Vets</a></li>
                <li><a href="/animals">Animals</a></li>
                <li><a href="/owners">Owners</a></li>
                <li><a href="/appointments">Appointments</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock  %}
    </main>
    <footer id="main-footer">
        &#169 Andrew Hunter 2021
    </footer>
    
</body>
</html>