{% extends 'base.html' %}
{% block content %}

    <form action="/owners/new" method="POST">
        <label for="name">Enter name</label>
        <input type="text" name="name" id="name" placeholder="Name">
        <br>

        <label for="phone">Enter phone number</label>
        <input type="text" name="phone" id="phone" placeholder="Phone Number">
        <br>

        <label for="address">Enter address</label>
        <input type="text" name="address" id="address" placeholder="Address">
        <br>

        <input type="submit" value="Add new owner">
    </form>

{% endblock %}