body{
    background-color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#main-header > nav > ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-decoration: none;
}

#main-header > nav > ul >li{
    margin: 10px;
    background-color: red;
    border-radius: 12px;
    padding: 10px;
}

#main-header > nav > ul >li>a{
    text-decoration: none;
    color: purple;
}


/* buttons */
.button-new {
    background-color: green;
    
}

.clickable-button{
    background-color: pink;
    width: 200px;
    height: 200px;
    font-size: 30px;
    border-radius: 15px;
}

.button-new > a{
    text-decoration: none;
}

.clickable-button >a{
    text-decoration: none;
}


.edit-button{
    background-color: yellow;
    border-radius: 5px;
    
}

.edit-button > a{
    text-decoration: none;
}

/* lists */

.list-item{
    background-color: aliceblue;
    border-radius: 15px;
}

.block-list{
    margin: 4px;
    height: 500px;
    overflow-y: scroll;
    
}

.list-item > p{
    margin: 4px;
    padding: 4px;
}

.list-div{
    background-color: red;
    margin: 0px 20px;
    padding: 0px;
}

.list-div>a{
    text-decoration: none;
    color: black;
}

.main-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}