body{
    background-color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: scroll;
}

#main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: blanchedalmond;
    margin: -10px;
    padding: 15px;
    margin-bottom: 20px;
}

#home-page-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-page-main > button{
    margin-left: 20px;
    margin-right: 20px;
    
}

#main-footer{
    background-color: blueviolet;
    margin-top: 30px;
    height: 100px;
}


#main-header > nav > ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
}

#main-header > nav > ul >li{
    margin: 10px;
    background-color: greenyellow;
    border-radius: 12px;
    padding: 10px;
}

#main-header > nav > ul >li>a{
    text-decoration: none;
    color: purple;
}


/* buttons */
.button-new {
    background-color: khaki;
    height: 50px;
    width: 200px;
    font-size: large;
    border-radius: 8px;
    
}

.clickable-button{
    background-color: pink;
    width: 200px;
    height: 200px;
    font-size: 30px;
    border-radius: 15px;
}

.button-new > a{
    text-decoration: none;
    color: lightcoral;
}

.clickable-button >a{
    text-decoration: none;
}


.edit-button{
    background-color: yellow;
    border-radius: 5px;
    
}

.edit-button > a{
    text-decoration: none;
}

.info-button > a{
    text-decoration: none;
    color: aliceblue;
}

/* lists */

.full-block {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
}

.list-item{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: aliceblue;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.list-item > p{
    margin: px;
    padding: 4px;
}

.block-list{
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
}



.list-div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color: red;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 4px;
}

.list-div>a{
    text-decoration: none;
    color: black;
}


.more-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


.main-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* more info */

.more-info-article{
    background-color: peru;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.more-info-text{
    margin-bottom: 10px;
}

.more-info-article>h2{
    margin-top: 0px;
}

.more-info-button-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.more-info-button-section>button{
    margin-right: 20px;

}

.info-button {
    background-color: brown;
    border-radius: 5px;
    color: aliceblue;
    font-size: large;
}

.animal-list {
    margin-left: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    
}

.animal-list > a{
    text-decoration: none;
    font-style: italic;
    color: aqua;
}

.animal-list-title{
    margin-bottom: 0px;
}


/* edit info */
.edit-info-article{
    background-color: peru;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.edit-info-article>h2{
    margin-top: 0px;
}

.edit-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

.edit-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.edit-form > label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.edit-form > input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.edit-animal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr  1fr 1fr 1fr 1fr;
}

.edit-animal-form > label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.edit-animal-form > input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.edit-animal-form > select {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


/* appointments */
#new-appointment{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#new-appointment-div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#submit-new-appointment{
    margin: 10px;
}

#appointment-info{
    display: flex;
    flex-wrap: wrap;

}
#appointment-block{
    background-color: firebrick;
    margin: 10px;
    padding: 10px;
}




