body{
    background-color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: blanchedalmond;
    margin: 0px;
    padding: 8px;
    
}



#main-header > nav > ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-decoration: none;
}

#main-header > nav > ul >li{
    margin: 10px;
    background-color: greenyellow;
    border-radius: 12px;
    padding: 10px;
}

#main-header > nav > ul >li>a{
    text-decoration: none;
    color: purple;
}


/* buttons */
.button-new {
    background-color: khaki;
    height: 50px;
    width: 200px;
    font-size: large;
    border-radius: 8px;
    
}

.clickable-button{
    background-color: pink;
    width: 200px;
    height: 200px;
    font-size: 30px;
    border-radius: 15px;
}

.button-new > a{
    text-decoration: none;
    color: lime;
}

.clickable-button >a{
    text-decoration: none;
}


.edit-button{
    background-color: yellow;
    border-radius: 5px;
    
}

.edit-button > a{
    text-decoration: none;
}

/* lists */

.full-block {
    display: grid;
    justify-content: center;
}

.list-item{
    background-color: aliceblue;
    border-radius: 15px;
    margin: 5px 0px;
}

.block-list{
    margin: 4px;
    max-height: 500px;
    overflow-y: scroll;
    
}

.list-item > p{
    margin: px;
    padding: 4px;
}

.list-div{
    font-size: larger;
    background-color: red;
    margin: 0px 20px;
    border-radius: 10px;
    padding: 4px;
}

.list-div>a{
    text-decoration: none;
    color: black;
}

.list-div>a>p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.main-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}